.showMenu{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hideMenu{
    display: none;
}

.menuMobile{
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    background: #2C363F;
    z-index: 1;
    padding: 12px;
}

.menuMobile a{
    color: #F2F5EA;
}

@media(min-width: 768px){
    .showMenu{
        display: none;
    }
}
