.header__nav{
    display: flex;
    gap: 20px;
}

.header__nav a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #2C363F;
}

@media(max-width: 768px){
    .header__nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}